@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 14px;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.title-1 {
  font-size: 34px;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 7px 22px;
  border-radius: 30px;
  background-color: #070707;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
  background-color: #323232;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

/* Header */
.header {
  background-color: #F1F1F1;
  padding-top: 46px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  text-align: flex-end;
  margin-bottom: 76px;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  padding: 0 12px 3px 0;
  line-height: 1;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #FDA300;
  border-radius: 50%;
}

/* Nav */
.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
}

.nav-button {
  display: none;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  color: #606060;
}

/* Hedaer content */

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header-content {
  max-width: 500px;
  margin-top: 124px;
}

.header-heading {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 44px;
}

.header-content p {
  line-height: 2;
}

/* Services */

.service {
  padding: 90px 0;
}

.service-row {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 60px;
}

.service-card {
  flex: 1 1 0;
  min-width: 315;
}

.service-card-img {
  margin-bottom: 30px;
}

.service-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-card p {
  line-height: 2;
}

/* Portfolio */

.portfolio {
  background-color: #F1F1F1;
  padding: 90px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}


.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}

.project-img {
  margin-bottom: 40px;
}

.project-title {
  font-size: 18px;
}

.project-title a {
  color: #000;
  text-decoration: underline;
}

/* Footer */

.contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  font-size: 18px;
  margin: 0 auto 40px;
  max-width: 480px;
}

.contacts-button {
  margin-bottom: 80px;
}


.contacts-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 40px;
}

.contacts-footer {
  color: #828282;
}