@media (max-width: 1200px ) {
  .nav-list {
    display: none;
  }

  .nav-button {
    display: block;
    position: absolute;
    z-index: 9;
    top: 46px;
    right: 30px;
  }

  .nav.open .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-size: 34px;
    font-weight: 600;
    
  }

  .nav.open .nav-button {
    position: fixed;
  }

  .nav-link {
    color: #828282;
  }

  .nav-link.active {
    color: #000;
  }

  .header-nav {
    margin-bottom: 50px;
  }

  .header-row {
    flex-direction: column;
    row-gap: 20px;
  }

  .header-content {
    margin-top: 0;
  }
  
  .header-img {
    text-align: center;
  }

}

@media (max-width: 700px) {
  .header-heading {
    font-size: 34px;
    line-height: 1.3;
  }

  .header-heading span {
    font-size: 28px;
  }

  .service {
    padding: 60px 0;
  }

  .portfolio {
    padding: 60px 0;
  }

  .portfolio-title {
    margin-bottom: 50px;
  }

  .project-img {
    margin-bottom: 30px;
  }

  .project + .project {
    margin-top: 55px;
  }

  .contacts {
    padding: 60px 0;
  }

  .contacts-title {
    margin-bottom: 20px;
  }

  .contacts-content {
    margin-bottom: 20px;
  }

  .contacts-button {
    margin-bottom: 70px;
  }

  .contacts-social {
    margin-bottom: 20px;
    column-gap: 50px;
  }
}