html {
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  /*  */
}

.header__inner {
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo {
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  align-items: center;
  column-gap: 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
}

.user-actions {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.top__inner {
  min-height: 500px;
  color: #fff;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
  font-weight: 400;
}

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}

.blockquote__text {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-style: italic;
  font-weight: normal;
  max-width: 704px;
  margin: 150px auto;
}