@import "./reset.css";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 0;
}

.header__wrap {
  min-height: 10rem;
  background-color: #7FAFF7;
}

.footer__wrap {
  min-height: 10rem;
  background-color: #7FAFF7;
}